extends /src/includes/layout.pug



block head
	title StraticJS

block content
	#header
		h1 StraticJS
	#install-code
		pre
			code.
				$ npm install -g yo generator-stratic
				$ mkdir stratic-project && cd stratic-project
				$ yo stratic

	iframe(width='560', height='315', src='https://www.youtube-nocookie.com/embed/a9l-FmSgyt8?rel=0', frameborder='0', allowfullscreen)