extends /src/includes/layout.pug

block head
	title StraticJS

block content
	#header
		h1 StraticJS
	#install-code
		pre
			code.
				$ npm install -g yo generator-stratic
				$ mkdir stratic-project && cd stratic-project
				$ yo stratic

	#content
		h2 the streaming static site generator

		p StraticJS is a loose collection of modules which can be tied together using #[a(href='https://gulpjs.com/') gulp] to create a full static site generator system, including blog functionality.

		p Because it's just gulp, Stratic doesn't invent a new plugin ecosystem, config format, or magic filesystem layout. In fact, you can read the internals of how Stratic works quite trivially - just inspect your #[code gulpfile.js].

		p Intrigued? You might be interested in this introduction to the design and functionality of Stratic:

		iframe(width='560', height='315', src='https://www.youtube-nocookie.com/embed/a9l-FmSgyt8?rel=0', frameborder='0', allowfullscreen)

		p You can also follow Stratic #[a(href='https://twitter.com/straticjs') on Twitter] or poke at the code #[a(href='https://github.com/straticjs') on GitHub]. And install it and try it out, of course!
